 @media only screen and (max-width:768px) {
.desk_logo{display:none;}
.logo-out img {
    max-width: 200px;
}
.container {
    padding: 0px;
}
.mobile_icon .hamber_div {
    float: right;
    cursor: pointer;
}
.hed_right {
    padding-right: 15px;
    padding-left: 15px !important;
}
.top_right{display:none;}
.header {
    padding: 0px 15px;
    float: left;
    width: 100%;
}
.hamb-icon {
    width: 30px;
    height: 4px;
    background-color: #D9D9D9;
    margin: 8px 0;
    border-radius: 2px;

}
.bottom_right ,  #mobile_view{display:block;}
#desk_view{display:none;}
}

 