 @media only screen and (max-width:768px) {
	 #mob_head{
	display:block;
}
#desk_head{display:none;}
.desk_logo{display:none;}
.logo-out img {
    max-width: 200px;
}
.logo-out {
    padding-top: 0;
	text-align: center;
}
.container {
    padding: 0px;
}
.mobile_icon .hamber_div {
    float: right;
    cursor: pointer;
}
.hed_right {
    padding-right: 15px;
    padding-left: 15px !important;
}
.top_right{display:none;}
.header {
    padding: 18px 15px;
    float: left;
    width: 100%;
}
.hamb-icon {
    width: 30px;
    height: 4px;
    background-color: #D9D9D9;
    margin: 8px 0;
    border-radius: 2px;

}
.bottom_right {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    padding: 19px 0px;
	top: 0;
	    z-index: 9;
}
#mobile_view , .bottom_right nav{display:block;}
#desk_view{display:none;}

#menuToggle {
    display: block;
    position: relative;
    top: 8px;
    right: 0;
       z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    float: right;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
    height: 4px;
  margin-bottom: 7px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    background: #fff;
    height: 3px;
    transform: rotate(45deg) translate(-29px, -42px);
	top: 20px;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(21px, -8px);
}
ul#menu a li {
    color: #fff !important;
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width:99%;
    margin: -68px auto -50px;
    padding: 50px;
    padding-top: 27px;
    background: #E97373;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    left: 0;
    right: 0;
	padding-bottom: 15px;
	    overflow-y: auto;
    height: 292px;
	display: none;
	    z-index: 1;
	}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu li {
    padding: 0px 0;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
}
.opacity_menus{display:block !important;    z-index: 1;}
/* .accordion {
    color: #444;
    cursor: pointer;
     
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
 */
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
	width: 313px;
}
ul.lang_mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 313px;
    margin: 0 auto 20px;
}
.lang_mobile .eng_list a {
    font-family: poppinsregular;
    font-size: 14px !important;
    letter-spacing: 2px;
    line-height: 8px;
    color: rgb(255,255,255);
}
.accordion {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    width: 313px;
    letter-spacing: 2px;
    line-height: 8px;
    color: rgb(255,255,255);
    font-family: "poppinsregular";
    text-transform: uppercase;
    text-align: center;
    position: relative;
    height: 34px;
	  padding: 4px 18px 0px;
}
.panel ul li p {
    color: #ffa0a3;
    font-size: 15px;
	letter-spacing: 2px;
    text-align: center;
    margin: 0px;
	font-family: "poppinsregular";
}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.accordion:after {
    content: '\002B';
    color: #ffa0a3;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    font-size: 19px;
	left: 16%;
    position: absolute;
}

.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 313px;
    margin: 0 auto;
}

li.more_anchor a {
    width: 100%;
    color: #ffa0a3;
    letter-spacing: 2px;
    line-height: 8px;
    font-family: "poppinsregular";
    font-size: 15px;
}
#desk_banner{display:none;}
#mobile_banner {
    display: block;
}
.top_menu_padding{padding-top:0px !important;}
.bottom_right nav {
    width: 90%;
    margin: 0 auto;
}
.bottom_right.top_menu_padding nav {
    width: 100%;
}
.seprator {
    width: 250px;
    height: 1px;
    background-color: #f88084;
    margin: 9px auto;
}
#menu li:hover a , #menu li:focus a  , #menu li:active a {
    color: #fff;
	text-decoration:none;
}
.lang_mobile .eng_list a:hover , .lang_mobile .eng_list a:focus, .lang_mobile .eng_list a:active{color:#ffa0a3 !important;text-decoration:none;}
.all_menus {
    float: left;
    width: 100%;
}
.mobile_socila_icons {
    float: left;
    position: absolute;
	    padding-top: 16px;
	    display:none;
}
.mobile_socila_icons ul li {
    display: block;
        margin: 10px 0px !important;
}
.mobile_socila_icons.opacity_menus ul li a i {
    color: #fff;
    font-size: 29px;
}
.bottom_right.top_menu_padding .logo-out {
    padding-top: 14px;
}

.banner_top h1 {
    width: 95%;
    letter-spacing: 1px;
    line-height: 58px;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 55px !important;
}
.bdr {
    width: 241px;
    height: 4px;
    background-color: #ffffff;
    margin: 20px auto 20px !important;
    float: none;
}
.bdr img {
    width: 43%;
    display: none;
}
.banner_bottom .Made {
    width: 756px;
    height: 244px;
    font-size: 24px !important;
    letter-spacing: 1px;
    line-height: 28px;
    color: rgb(255,255,255);
    text-align: center;
}
.banner_bottom .COUPLES {
    width: 756px;
    height: 244px;
    font-size: 24px !important;
    letter-spacing: 1px;
    line-height: 37px !important;
    color: rgb(255,255,255);
    text-align: center;
}
.circle_div img {
    margin-top: 20px;
    width: 35%;
}
.body-overlay-index{z-index:-1 !important;}
.check_text {
    margin-bottom: 0px;
}
.step_four:nth-child(even) {
    padding-right: 0px;
}

.step_four:nth-child(odd) {
    padding-left: 0px;
}
.step_four:nth-child(2) , .step_four:nth-child(3) {
    margin-bottom: 30px;
}
.De_check {
    padding-bottom: 60px;
}
.Five_star{
	 padding-top: 0px;
}
.check_text h1{
	margin-bottom: 0;
	margin-top:60px;
	font-size: 28px;
letter-spacing: 1px;
line-height: 22px;
}
.Five_text h1 {
   font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0;
    letter-spacing: 1px;
    line-height: 7px;
	    color: rgb(238,111,115);
}

.Five_text {
    margin-top: 60px;
}
.Fivetext_bottom {
    padding-top: 0;
    margin-top: 38px;
}
.Fivetext_bottom h2 {
    font-size: 15px;
    letter-spacing: 0;
	margin-bottom: 18px;
}
div#a img , div#b img {
    width: 12px;
}
ul.week li a {
    padding-left: 14px;
    color: #333;
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 1px;
}
.Fivetext_bottom {
    width: 51%;
    float: left;
}
#re_cont_desktop{display:none;}
#re_cont_mobile{display:block;}
.bottom_manager {
    float: left;
    width: 100%;
}
.recon_right {
    width: auto;
    float: right;
    position: absolute;
    top: 16%;
    right: -9%;
}
div#b h2 {
    font-size: 14px;
    font-family: 'youngserifregular';
    padding-left: 0px;
}
div#b h2 {
    font-size: 14px;
    font-family: 'youngserifregular';
    padding-left: 0px;
}
.abc {
    vertical-align:middle;
}
ul.week li {
    margin-bottom: 11px;
}
div#c h2 {
    font-size: 14px;
    font-family: 'youngserifregular';
    padding-left: 0;
}
#secont_sec_desktop{display:none;}
#recont_sec_600{display:block;    width: 92%;}
div#Five_star {
    padding-bottom: 0px;
    padding-top: 0px;
}
.col-md-12.col-sm-12.col-xs-12.De_check{padding-bottom: 0;}

.icon {
    display:none;
}
.recont_sec .Five_text h1 {
    margin-left: 0;
}
.hed {
    min-height: auto !important;
}
.tes11 {
    padding-top: 0;
}
.hed h2 {
    font-size: 15px;
    font-family: 'young';
    margin-bottom: 0px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-top: 24px;
}
.hed h4 {
    font-size: 15px;
    font-family: 'poppinsregular';
    line-height: 23px;
    color: #333;
    letter-spacing: 1px;
    margin-top: 3px;
}
.recont_secright {
    padding: 0px 15px;
    width: auto;
    float: left;
    position: absolute;
    top: 20%;
    left: -57px;
}
.recont_sec{padding-bottom: 55px;}
#gram_600{display:block;}
#gram_desktop{display:none;}
.fout_left , .fout_right, .fout_rightt {
    text-align: left !important;
}
div#gram_600 .recon_right {
    right:-50px;
    float: right;
    top: 61px;
	    width: auto;

}
div#gram_600 .recon_right img {
    width: auto;
}
.testi {
    width: 100% !important;
    float: left;
}
#gram_600 div#book {
    text-align: center;
}
.Five_star {
    padding-top: 0px !important;
}
div#room_services{padding-bottom: 0px !important;}
div#gram_600 .Fivetext_bottom {
        margin-top: 116px;
    margin-bottom: 72px;
}

div#gram_600 .Fivetext_bottom h2 {
    width: 429px;
    height: 31px;
    font-size: 15px;
	    margin-bottom: 0px;
    letter-spacing: 0px;
}
ul.week.Graham li {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 0px;
}
.testi h2 {
    width: 100%;
    font-size: 34px !important;
    letter-spacing: 1px;
    color: rgb(238,111,115);
    text-align: center;
	    margin-top: 50px;
}
#mobile_footer_600{display:block;}
#mobile_footer_320 , #desktop_footer{display:none;}
ul.hot li {
    text-align: left;
    padding: 3px 0px;
    font-family: 'poppinsregular';
    color: #333;
    font-size: 15px;
    letter-spacing: 1px;
}
ul.hot i {
    margin-right: 7px;
}
.f_right p {
    text-align: left;
    padding: 7px 0px;
    font-family: 'poppinsregular';
    font-size: 15px;
    color: #333;
    letter-spacing: 1px;
    width: 90%;
    line-height: 27px;
    margin-bottom: 0px;
    padding: 0px;
}
#mc_embed_signup .mc-field-group {
    min-height: 50px;
    width: 100% !important;
}
#mc_embed_signup form {
        padding: 0px !important;
}
#mc_embed_signup .button {
    width: auto !important;
    margin: 0px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 18px !important;
    font-size: 13px !important;
}
div#bootom_footer {
    padding-bottom: 20px;
}
.col-md-12.col-sm-12.col-xs-12.bootom_footer12 {
    padding-top: 35px;
	    padding-left: 15px;
    padding-right: 15px;
}
h5.fred {
    font-size: 15px;
    font-family: 'young';
    color: #333;
    padding-top: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
}
ul.story li a {
    color: #333;
    font-family: 'poppinsregular';
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
ul.story {
    padding-left: 0;
    list-style: none
}
.footer_seprator {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
	    margin: 15px 0px 40px;
}
.how {
    width: 90%;
    float: left;
}
.book button a, .book button a:link, .g_start a, .g_start a:link {
    color: #fff;
    font-family: 'poppinsregular';
    font-size: 15px;
    letter-spacing: 2px;
}
.step_four h4 {
    font-family: 'youngserifregular';
    font-size: 16px;
    margin-left: 0;
    color: rgb(238,111,115);
}
}



 @media only screen and (max-width:599px) {
	 .book button a, .book button a:link, .g_start a, .g_start a:link {
    color: #fff;
    font-family: 'poppinsregular';
    font-size: 12px;
    letter-spacing: 2px;
}
	 .col-md-6.col-sm-6.col-xs-6.footer_left {
    width: 100%;
}
.col-md-6.col-sm-6.col-xs-6.footer_right {
    width: 100%;
	    padding-left: 15px !important;
}

div#mobile_footer_320 {
    padding: 0px;
}
ul.hot li {
    text-align: left;
    padding: 3px 0px;
    font-family: 'poppinsregular';
    color: #333;
    font-size: 12px;
    letter-spacing: 1px;
	line-height:18px;
}
.f_right p {
    text-align: left;
    padding: 7px 0px;
    font-family: 'poppinsregular';
    font-size: 12px;
    color: #333;
    letter-spacing: 1px;
    width: 90%;
    line-height: 18px;
        margin-bottom: 4px;

    padding: 0px;
}
#mc_embed_signup .mc-field-group {
    min-height: 50px;
    width: auto !important;
	
}
#mc_embed_signup .mc-field-group input {
    display: block;
    width: auto !important;
    background: #f1f1f3;
    line-height: 36px;
    border: none !important;
    color: black;
    font-family: 'poppinssemibold';
    font-size: 13px;
    letter-spacing: 2px;
    padding: 3px 24px 0px 24px !important;
    text-indent: 2%;
	border-radius: 0px;
}
#mc_embed_signup .button {
    width: auto !important;
    margin: 0px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 15px !important;
    font-size: 11px !important;
    border-radius: 0px !important;
    margin-left: 2px !important;
    width: 111px !important;
}
.col-md-12.bootom_footer12 {
    border: 1px solid #dddde1;
}

ul.hot1 li:first-child {
    margin-right: 15px;
}

ul.hot1 li {
    display: inline-block;
}
ul.hot {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
ul.hot.hot1 {
    margin-bottom: 15px;
}

h5.fred {
    font-size: 11px;
    font-family: 'young';
    color: #333;
    padding-top: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
}
ul.story li a {
    color: #333;
    font-family: 'poppinsregular';
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 18px;
}
.footer_seprator {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 20px;
}
	 #gram_600{display:none;}
	 #recont_sec_600 , #gram_600 , #mobile_footer_600{display:none;}
div#room_services {
    padding: 0px !important;
    padding-top: 75px !important;
}
	 #recont_sec_320 , #gram_320 , #mobile_footer_320{display:block;}
	 
	 .recont_secright {
    padding: 0px 15px;
    width: auto;
    float: left;
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
#gram_320 .Fivetext_bottom h2 {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0px;
	    text-align: center !important;
}
#gram_320 .Fivetext_bottom {
    padding-top: 0;
    margin-top: 81px;
}
ul.week.Graham li {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 0px;
    text-align: center;
}

.testi h2 {
    font-size: 22px !important;
    letter-spacing: 1px;
}
#gram_320 .book {
    margin-top: 30px !important;
    text-align: center !important;
}
	.fout_left , .fout_right, .fout_rightt {
    text-align: center !important;
}
.out_four {
    width: 100% !important;
    float: right;
} 
	 .book {
    margin-top: 25px !important;
}
	.step_four {
    text-align: left;
}
.col-md-12.bottom_manager {
    padding-left: 30px;
}


.step_four h4 {
    font-family: 'youngserifregular';
    font-size: 12px;
    margin-left: 0;
    letter-spacing: 1px;
    line-height: 20px;
}
.Decheck_bottom h3 {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 5px !important;
    letter-spacing: 1px;
    line-height: 20px !important;
}


.Decheck_bottom p {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 9px;
    font-family: 'poppinsregular';
    padding-right: 36px;
    color: #333;
    padding: 2px;
    letter-spacing: 1px;
    line-height: 20px;
}
#re_cont_mobile {display:none;}
 #re_cont_mobile_320{display:block;}
 .re_cont {
    background: #fbf5f4;
    float: left;
    width: 100% !important;
    position: relative;
    padding-bottom: 60px;
}
.recon_right {
    width: 100% !important;
    float: none !important;
    position: absolute !important;
    top: -120px !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 auto;
    text-align: center;
}
.col-md-12.col-sm-12.col-xs-12.Five_star {
    padding-top: 50px !important;
}


.Five_text {
    margin-top: 110px;
}

.Fivetext_bottom {
    width: 100%;
    float: left;
}
.bottom_manager {
    padding-left: 30px;
}
.Fivetext_bottom, .room_services {
    padding-left: 30px !important;
    padding-right: 15px;
}
.Fivetext_bottom h2 {
    text-align: left !important;
}

div#c h2 {
    font-size: 14px;
    font-family: 'youngserifregular';
    padding-left: 0;
    text-align: left !important;
}
	 .check_text h1 {
    margin-top: 37px;
	    margin-bottom: 0;
}
.check_text {
    margin-bottom: 0px;
}
	 .banner_top h1 {
    width: 91%;
    letter-spacing: 1px;
    line-height: 30px;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 28px !important;
	    padding-bottom: 0;
}
.bdr {
    width: 197px;
    height: 4px;
    background-color: #ffffff;
        margin: 16px auto !important;
    float: none;
}
.banner_bottom .Made {
    width: 756px;
    height: 244px;
    font-size: 17px !important;
    letter-spacing: 1px;
    line-height: 19px;
    color: rgb(255,255,255);
    text-align: center;
}


.bdr img {
    width: 43%;
    display: none;
}
.circle_div {
    width: 27px !important;
    height: 27px !important;
}
.banner_bottom .COUPLES {
    width: 756px;
    height: 244px;
    font-size: 17px !important;
    letter-spacing: 1px;
    line-height: 19px !important;
    color: rgb(255,255,255);
    text-align: center;
}
.circle_div img {
    margin-top: 6px;
    width: 35%;
}
	 .logo-out img {
    max-width: 170px !important;
}
	  #mobile_banner{display:none !important;}
	  
	 #mobile_banner2{display:block;}
.desk_logo{display:none;}
.logo-out img {
    max-width: 200px;
}
.logo-out {
    padding-top: 0;
}
.container {
    padding: 0px;
}
.mobile_icon .hamber_div {
    float: right;
    cursor: pointer;
}
.hed_right {
    padding-right: 15px;
    padding-left: 15px !important;
}
.top_right{display:none;}
.header {
    padding: 18px 15px;
    float: left;
    width: 100%;
}
.hamb-icon {
    width: 30px;
    height: 4px;
    background-color: #D9D9D9;
    margin: 8px 0;
    border-radius: 2px;

}
.bottom_right {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    padding: 19px 0px;
	top: 0;
}
#mobile_view , .bottom_right nav{display:block;}
#desk_view{display:none;}

#menuToggle {
    display: block;
    position: relative;
    top: 5px;
    right: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    float: right;
	z-index: 2;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    background: #fff;
    height: 3px;
    transform: rotate(45deg) translate(-27px, -36px);
	top: 20px;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(20px, -9px);
}
ul#menu a li , ul#menu1 a li{
    color: #fff !important;
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu, #menu1 {
    position: absolute;
    width: 99%;
    margin: -68px auto 0px;
    padding: 20px;
    padding-top: 27px;
    background: #E97373;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    left: 0;
    right: 0;
    padding-bottom: 0px;
    overflow-y: auto;
    height: 465px;
    display: none;
}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu li , #menu1 li{
    padding: 0px 0;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
	    margin: 0px 15px !important;
}
.opacity_menus{display:block !important;}
/* .accordion {
    color: #444;
    cursor: pointer;
     
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
 */
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
	width: 313px;
}
ul.lang_mobile {
    list-style: none;
    padding: 0;
    margin: 0;
        width: auto;
    margin: 15px auto 20px;
	    height: 76px;
}
.lang_mobile .eng_list a {
    font-family: poppinsregular;
    font-size: 15px !important;
    letter-spacing: 2px;
    line-height: 8px;
    color: rgb(255,255,255);
}
.accordion {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
         width: 230px;
    letter-spacing: 2px;
    line-height: 8px;
    color: rgb(255,255,255);
    font-family: "poppinsregular";
    text-transform: uppercase;
    text-align: center;
    position: relative;
    height: 34px;
	  padding: 4px 18px 0px;
}
.panel ul li p {
    color: #ffa0a3;
    font-size: 15px;
	letter-spacing: 2px;
    text-align: center;
    margin: 0px;
	font-family: "poppinsregular";
}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.accordion:after {
    content: '\002B';
    color: #ffa0a3;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    font-size: 19px;
	    left: 4%;
    position: absolute;
}

.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  width: 100%;
    margin: 0 auto;
}

li.more_anchor a {
    width: 100%;
    color: #ffa0a3;
    letter-spacing: 2px;
    line-height: 8px;
    font-family: "poppinsregular";
    font-size: 15px;
}
#desk_banner{display:none;}
#mobile_banner {
    display: block;
    margin-top: 73px;
}
.top_menu_padding{padding-top:0px !important;}
.bottom_right nav {
    width: 90%;
    margin: 0 auto;
}
.bottom_right.top_menu_padding nav {
    width: 100%;
}
.seprator {
       width: 86%;
    height: 1px;
    background-color: #f88084;
    margin: 9px auto;
}
#menu li:hover a , #menu li:focus a  , #menu li:active a , #menu1 li:hover a , #menu1 li:focus a  , #menu1 li:active a {
    color: #fff;
	text-decoration:none;
}
.lang_mobile .eng_list a:hover , .lang_mobile .eng_list a:focus, .lang_mobile .eng_list a:active{color:#ffa0a3 !important;text-decoration:none;}
.all_menus {
    float: left;
    width: 100%;
}
.mobile_socila_icons {
    float: left;
    position: absolute;
    padding-top: 16px;
    width: 100%;
    top: 580%;
    display: none;
    left: 0;
    right: 0;
	    z-index: 1;
}
.mobile_socila_icons ul li {
    display: inline-block;
    margin: 10px 17px !important;
}
.mobile_socila_icons.opacity_menus ul li a i {
    color: #fff;
    font-size: 29px;
}
.bottom_right.top_menu_padding .logo-out {
    padding-top: 14px;
}
.mobile_socila_icons ul.soc{float:inherit;    width: 100%;}
.all_menus.menus_mobile600 {
    display: none;
}
.menus_mobile320{display:block !important;}
.menus_mobile320 .mobile_socila_icons{position:static;top:0px;margin-top: 55px;}
}

 